<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de données BDD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}" />
</head>
<body>
    <header>
        
    </header>
    <h1>Importation des données d'une BDD</h1>

    <div id="listing">
        <p class="zut">Choisissez les informations à afficher :</p>
        <ul>
            <li><a href="/table/customer">Client</a></li>
            <li><a href="/table/product">Produit</a></li>
            <li><a href="/table/customer_order">Commandes des clients</a></li>
            <li><a href="/table/order_detail">Détail des commandes</a></li>
            <li><a href="/table/all">Tous</a></li>
            <li><a href="/table/country_pib">Tableau du PIB</a></li>
        </ul>
    </div>
    
</body>
</html>